.btn-selected {
    border: solid 1px #ccc;
    border-radius: 50%;
    transition: transform 0.3s;
    padding: 8px;
}

.btn-selected:hover {
    transform: scale(1) !important;
}

#top-bar {
    transition: transform 0.5s ease-in-out;
}

.visible-bar {
    transform: translateY(0);
}

.hidden-bar {
    transform: translateY(-100%);
}
